.card {
 
    border: 10px solid rgba(0,0,0,.125);
    left:150px;
    right:250px;
   
}
img, svg {
   
    height: 100px;
    
}

h2{
    text-align: center;
    color:black;
    text-decoration: underline;

}